    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(/poster/rapchieu.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!-- Breadcrumb Text -->
                <div class="col-12">
                    <div class="breadcrumb-text">
                        <h2>Lịch chiếu</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ##### Monthly Picks Area Start ##### -->
    <section class="monthly-picks-area section-padding-100 bg-pattern">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="left-right-pattern"></div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Title -->
                    <h2 class="section-title mb-70 wow fadeInUp" data-wow-delay="100ms">Lịch chiếu phim</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-tabs wow fadeInUp" data-wow-delay="300ms" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="popular-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="true">Chọn ngày</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="false">Hôm nay ({{date.homnay}})</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Ngày mai ({{date.ngaymai}})</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Ngày kia ({{date.ngaykia}})</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="tab-content wow fadeInUp" data-wow-delay="500ms" id="myTabContent">
           
            <div class="tab-pane fade show" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">   
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8">
                        <div class="mt-100">
                            {{#each today}}
                            <div class="single-articles-area d-flex flex-wrap mb-30">
                                <div class="article-thumbnail">
                                    <img src="{{cover}}" alt=""/>
                                </div>
                                <div class="article-content">
                                    <a href="/movies/detail/?id={{img}}" class="post-title">{{name}}</a>
                                    {{#each xc}}
                                        <p>Rạp: {{idrap}}. <span class="mycolor"> Xuất {{time}}</span></p>
                                    {{/each}}
                                </div>
                            </div>    
                            {{/each}} 
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-2 col-lg-1"></div>
                </div>
            </div>

            <div class="tab-pane fade show" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">   
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8">
                        <div class="mt-100">
                            {{#each tomorrow}}
                            <div class="single-articles-area d-flex flex-wrap mb-30">
                                <div class="article-thumbnail">
                                    <img src="{{cover}}" alt=""/>
                                </div>
                                <div class="article-content">
                                    <a href="#" class="post-title">{{name}}</a>
                                    {{#each xc}}
                                        <p>Rạp: {{idrap}}. <span class="mycolor"> Xuất {{time}}</span></p>
                                    {{/each}}
                                </div>
                            </div>    
                            {{/each}}    
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-2 col-lg-1"></div>
                </div>
            </div>

            <div class="tab-pane fade show" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">   
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8">
                        <div class="mt-100">
                            {{#each twodaynext}}
                            <div class="single-articles-area d-flex flex-wrap mb-30">
                                <div class="article-thumbnail">
                                    <img src="{{cover}}" alt=""/>
                                </div>
                                <div class="article-content">
                                    <a href="#" class="post-title">{{name}}</a>
                                    {{#each xc}}
                                        <p>Rạp: {{idrap}}. <span class="mycolor"> Xuất {{time}}</span></p>
                                    {{/each}}
                                </div>
                            </div>    
                            {{/each}}     
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-2 col-lg-1"></div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- ##### Monthly Picks Area End ##### -->